@import "../node_modules/bootstrap/scss/bootstrap";

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  }

#quote-box {
    margin:auto;
}

#container {
    height: 100vh;
    background-color: cadetblue;
}